[build]
command = "npm run build"
publish = "dist"
functions = "functions"
[[redirects]]
from = "/api/"
to = "/.netlify/functions/server/:splat"
status = 200
force = true
[[redirects]]
from = "/*"
to = "/index.html"
status = 200
